TestWebApp/Connected Services/MyReportingService/MyReportingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UIModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UIModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProjectViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectViewModel" nillable="true" type="tns:ProjectViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectViewModel" nillable="true" type="tns:ArrayOfProjectViewModel" />
  <xs:complexType name="ProjectViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NewTasksCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsersCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectViewModel" nillable="true" type="tns:ProjectViewModel" />
</xs:schema>